.borderAnimation {
  overflow: hidden;
  position: relative;
  z-index: 9;
  border-radius: 15px;
}

.borderAnimation::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 150%;
  top: -100px;
  background: linear-gradient(#001aff, #d500f9, tomato);
  animation: rotate 2s linear infinite;
  z-index: -1;
}

.borderAnimation::after {
  content: "";
  position: absolute;
  background: white;
  inset: 4px;
  border-radius: 10px;
  z-index: -1;
}

@keyframes rotate {
  form {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
